@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blue;">Welcome To Student Platform</h1>
    <p>You will get to know about student</p>
</div>
